<table>
  <tr>
    <td colspan="2">
      <h2>{{ title }}</h2>
    </td>
  </tr>
  <tr>
    <td>
      <input type="text" [(ngModel)]="num1" style="width: 100px;" />
    </td>
    <td>
      <label>{{opval}}</label>
    </td>
      <td>
        <input type="text" [(ngModel)]="num2" style="width: 100px;" />
      </td>
      <td> = {{result}}</td>
  </tr>
  <tr>
    <td>
      <input type="button" value="+" (click)="calculate('add')" />
    </td>
    <td>
      <input type="button" value="-"  (click)="calculate('minus')" />
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" value="*"  (click)="calculate('multiplication')"/>
    </td>
    <td>
      <input type="button" value="/" (click)="calculate('divide')" />
    </td>
  </tr>
  <tr>
    <td>
      <input type="button" value="Clear"  (click)="calculate('clear')" />
    </td>    
  </tr>
</table>